button{
    background-color: green;
    border:none;
    border-radius: 20px;
    height: 50px;
    width: 100px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(10, 53, 10);
}

button:active{
    cursor: pointer;
    background-color: rgb(151, 252, 151);
}

a{
    color:darkolivegreen;
text-decoration: none;
}
a:visited{
    color:rgb(50, 88, 50) ;
    font-style: italic;
}

a[target="_blank"]{
    color:rgb(122, 37, 37);
}

a[href="stmikaputama.ac.id"]{
    color:rgb(75, 46, 26);
}
